@import 'var';

@font-face {
    font-family: "Larken-Medium";
    src: url('../fonts/LarkenDEMO-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: "Larken-Regular";
    src: url('../fonts/LarkenDEMO-Regular.otf');
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --orange-color: #FFC978;
    --mid-orange-color: #FFAF76;
    --dark-orange-color: #FFB076;
    --grey-color: #ABAEB7;
    --dark-blue-color: #0B0E17;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
    background-color: var(--dark-blue-color);
    color: #fff;
}


a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.container-fluid {
    max-width: 1740px;
    padding: 0 10px;
    margin: 0 auto; 
}

.container {
    max-width: 1310px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-btn {
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #FFF;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: var(--dark-blue-color);
        transform: scale(1.1);

    }
}

.section__subtitle {
    color: var(--orange-color);
    font-family: 'Larken-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}

.section__title {
    font-family: 'Larken-Regular', sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px; 
}

.comment {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 16px;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        background-image: url(../images/comment.svg);
        background-repeat: no-repeat;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 150px;
    }
}


@media (max-width: 600px) {
    .section__title {
        font-size: 50px;
        line-height: 60px; 
    }
}

@media (max-width: 420px) {
    .section__title {
        font-size: 40px;
        line-height: 48px; 
    }
}