@import 'var';

@font-face {
    font-family: "Larken-Medium";
    src: url('../fonts/LarkenDEMO-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: "Larken-Regular";
    src: url('../fonts/LarkenDEMO-Regular.otf');
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --orange-color: #FFC978;
    --mid-orange-color: #FFAF76;
    --dark-orange-color: #FFB076;
    --grey-color: #ABAEB7;
    --dark-blue-color: #0B0E17;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
    background-color: var(--dark-blue-color);
    color: #fff;
}


a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    background-color: transparent;
}

.container-fluid {
    max-width: 1740px;
    padding: 0 10px;
    margin: 0 auto; 
}

.container {
    max-width: 1310px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-btn {
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #FFF;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: var(--dark-blue-color);
        transform: scale(1.1);

    }
}

.section__subtitle {
    color: var(--orange-color);
    font-family: 'Larken-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}

