.about {
    margin-bottom: 140px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .about__side {
            .about__title {
                margin-bottom: 48px;
            }
            .about__text {
                margin-bottom: 33px;
                width: 440px;
                color: var(--grey-color);
                margin-left: 78px;
            }
            .about__info {
                display: flex;
                align-items: end;
                gap: 44px;
                margin-bottom: 30px;
                .about__info-num {
                    font-family: 'Larken-Regular', sans-serif;
                    font-size: 128px;
                    font-weight: 400;
                    line-height: normal;
                    span {
                        font-size: 64px;
                    }
                }
                .about__info-text {
                    width: 78px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }

            .about__side-img {
                display: inline-block;
            }

            .about__link {
            }
            
            

            &.right {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 30px;
                .about__side-img {
                    &:last-child {
                        margin-top: -87px;
                    }
                }
            }
        }
        
    }
    
}

