.availability {
    margin-bottom: 20px;
    .availability__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        &-title {
            .availability__subtitle {
                margin-bottom: 20px;
            }
        }
        
        &-text {
            color: #D7E0E1;
            width: 470px;
            padding-top: 36px;
            padding-bottom: 62px;
            
        }
    }

    .availability__inner {
        display: flex;
        justify-content: space-between;
        .availability__table {
            width: 64%;
            .table__row {
                padding: 10px 0;
                border-bottom: 1px solid #FFF;
                
            }
            .table__head {
                color: var(--dark-orange-color);
                font-family: 'Larken-Medium', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.8px;
                text-transform: capitalize;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                &-item {
                    padding: 0 10px;
                }
            }
            .table__project {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
            }
            .table__project-item {
                padding: 0 10px;
                .project__link {
                    text-decoration: underline;
                }
            }
        }
        
        
        .availability__img {
            margin-left: 50px;
            object-fit: cover;
        }

    }
}

@media (max-width: 1200px) {
    .availability {
        .availability__inner {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            .availability__table {
                width: 80%;
            }
            .availability__img {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 760px) {
    .availability {
        .availability__head {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-title {
                text-align: center;
            }
            &-text {
                width: 80%;
            }
        }
        .availability__inner {
            .availability__table {
                width: 100%;
                .table__head {
                    display: none;
                }
            
                .table__project {
                    display: flex;
                    flex-direction: column;
                }
            
                .table__project-item {
                    position: relative;
                    padding-left: 50%;
                    padding-bottom: 10px;
                }
            
                .table__project-item.project__name {
                    color: var(--dark-orange-color);
                    font-weight: 700;
                    padding-left: 0;
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid #fff;
                }
            
                .table__project-item.project__name::before {
                    content: none;
                    
                }
            
                .table__project-item::before {
                    position: absolute;
                    content: attr(data-label);
                    left: 2%;
                }
            }
        }
    }
}





