.experience {
    padding: 62px 0;
    background-image: url(../../images/experienceBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 160px;
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        .experience__img {
            object-fit: cover;
        }
        .experience__info {
            width: 49%;
            padding-top: 42px;
            .experience__title {
                margin-bottom: 50px;
            }
            .experience__items {
                display: flex;
                gap: 74px;
                margin-bottom: 50px;
                .experience__item {
                    &-num {
                        color: var(--mid-orange-color);
                        font-family: 'Larken-Regular', sans-serif;
                        font-size: 64px;
                        font-weight: 400;
                        line-height: 70px;
                        span {
                            font-size: 32px;
                        }
                    }
                    &-text {
                        color: var(--grey-color);
                        font-size: 18px;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
            
            
            .experience__button {
                padding: 20px 35px;
                text-transform: capitalize;
            }
        }
        
    }
}

@media (max-width: 1200px) {
    .experience {
        &__inner {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            .experience__info {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                .experience__items {
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .experience {
        &__inner {
            .experience__info {
                .experience__items {
                    width: 90%;
                    margin: 0 auto;
                    gap: 30px;
                    margin-bottom: 40px;
                    .experience__item {
                        &-num {
                            font-size: 35px;
                            line-height: 45px;
                            span {
                                font-size: 22px;
                            }
                        }
                    }
                }

                .experience__button {
                    padding: 15px 25px
                }
            }
        }
    }
}

