.header {
    background-image: url(../../images/promo.png);
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 100vh;
    background-size: 60%;
    margin-bottom: 140px;
    .header__top {
        padding-top: 25px;
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        .logo {
            margin-right: 11%;
        }
        
        .menu {
            &__list {
                display: flex;
                gap: 35px;
                &-item {
                    color: var(--grey-color);
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    transition: all 0.3s;
                    &:hover {
                        color: #fff;
                        transform: scale(1.1);
                    }
                }
                &-link {
                }
            }

            &__btn {
                width: 40px;
                height: 30px;
                flex-direction: column;
                justify-content: space-between;
                display: none;
                span {
                    width: 40px;
                    height: 3px;
                    background-color: #fff;
                }
            }
        }
        
        &-btn {
            margin-left: auto;
        }
    }


    .promo {
        display: flex;
        align-items: center;
        &__info {
            width: 40%;
            background-image: url(../../images/wavePromo.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top left;
            padding-top: 140px;
            .promo__subtitle {
                margin-bottom: 30px;
            }
            .promo__title {
                font-family: 'Larken-Regular', sans-serif;
                font-size: 84px;
                font-weight: 400;
                line-height: 94px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .promo__text {
                color: var(--grey-color);
                font-size: 20px;
                font-weight: 400;
                line-height: 33px; 
                margin-bottom: 50px;
            }
            .promo__btn {
                padding: 20px 35px;
            }
        }
        
    }
}


@media (max-width: 870px) {
    .header {
        .header__top {
            position: relative;
            .menu {
                &__list {
                    transform: translateY(-1000%);
                    transition: all 0.5s;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 80px;
                    width: 100%;
                    background-color: var(--dark-blue-color);
                    &-item {
                        color: #fff;
                        width: 100%;
                        border-bottom: 1px solid #fff;
                        padding: 20px 0;
                        transition: all 0.5s ease-in;
                        text-align: center;
                        &:hover {
                            color: #fff;
                            transform: scale(1.1);
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                    &-link {
                    }
                    &.active {
                        transform: translateY(0);
                        
                    }
                }

                &__btn {
                    display: flex;
                    position: absolute;
                    right: 20px;
                    top: 38px;
                    z-index: 10;
                }
            }

            &-btn {
                margin-right: 80px;
            }


        }
    }
}

@media (max-width: 500px) {
    .header {
        .header__top {
            .logo {
                object-fit: cover;
                max-width: 60%;
            }
            .menu {
                &__btn {
                    top: 33px;
                }
            }
            &-btn {
                padding: 10px 15px;
            }
        }
    }
}



