.projects {
    margin-bottom: 140px;
    &__top {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        &-head {
            .projects__subtitle {
                margin-bottom: 15px;
            }
            .projects__title {
            }
        }
        .projects__menu {
            display: flex;
            gap: 40px;
            .projects__btn {
                border-bottom: 1px solid transparent;
                color: var(--grey-color);
                font-size: 16px;
                font-weight: 600;
                line-height: 26px;
                transition: all 0.3s;
                &.active {
                    color: var(--mid-orange-color);;
                    border-bottom: 1px solid var(--mid-orange-color);
                }
                &:hover {
                    color: var(--mid-orange-color);;
                    border-bottom: 1px solid var(--mid-orange-color);
                }
            }
        }
    }
    
    
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        .projects__item {
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
            }
            &:nth-child(odd) {
                margin-top: -50px;
            }
            &-link {
            }
            &-img {
            }
        }
    }
    
}

@media(max-width: 1100px) {
    .projects {
        &__top {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-head {
                text-align: center;
                margin-bottom: 30px;
            }
        }

        &__inner {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media(max-width: 740px) {
    .projects__top {
        .projects__menu {
            gap: 20px;
        }
    }
    .projects__inner {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 0 auto;
    }
}

@media(max-width: 500px) {
    .projects__inner {
        gap: 10px;
        width: 95%;
    }
}

@media(max-width: 430px) {
    .projects__top {
        .projects__menu {
            flex-direction: column;
        }
    }
    .projects__inner {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

