.specialization {
    margin-bottom: 140px;
    position: relative;
    &__subtitle {
        margin-bottom: 13px;
        text-align: center;
    }
    
    &__title {
        margin-bottom: 52px;
        text-align: center;
    }
    &__inner {
        display: flex;
        justify-content: center;
        gap: 30px;
        .specialization__item {
            width: 300px;
            position: relative;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
            }
            &-img {
            }
            &-title {
                width: 230px;
                margin-bottom: 10px;
                font-family: 'Larken-Medium', sans-serif;
                font-size: 24px;
                font-weight: 400;
                line-height: normal;
            }
            &-text {
                width: 230px;
                font-size: 16px;
            }
            &:first-child {
                margin-top: -129px;
            }
            &:last-child {
                margin-top: -129px;
            }
        }
        
    }
    
}
