.specialization {
    margin-bottom: 140px;
    &__subtitle {
        margin-bottom: 13px;
    }
    
    &__title {
        margin-bottom: 52px;
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        .specialization__item {
            position: relative;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
            }
            &-img {
            }
            &-title {
                position: absolute;
                bottom: 78px;
                left: 30px;
                width: 230px;
                margin-bottom: 10px;
            }
            &-text {
                position: absolute;
                bottom: 30px;
                left: 30px;
                width: 230px;
            }
        }
        
    }
    
}
