.specialization {
    margin-bottom: 140px;
    position: relative;
    &__subtitle {
        margin-bottom: 13px;
        text-align: center;
    }
    
    &__title {
        margin-bottom: 52px;
        text-align: center;
    }
    &__inner {
        display: flex;
        justify-content: center;
        gap: 30px;
        .specialization__item {
            width: 300px;
            position: relative;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
            }
            &-img {
            }
            &-title {
                width: 230px;
                margin-bottom: 10px;
                font-family: 'Larken-Medium', sans-serif;
                font-size: 24px;
                font-weight: 400;
                line-height: normal;
            }
            &-text {
                width: 230px;
                font-size: 16px;
            }
            &:first-child {
                margin-top: -129px;
            }
            &:last-child {
                margin-top: -129px;
            }
        }
        
    }
    
}

@media (max-width: 1100px) {
    .specialization__inner {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-items: center;
        
        .specialization__item {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 750px) {
    .specialization__inner {
        grid-template-columns: repeat(2, 270px);
        gap: 15px;
        .specialization__item {
            width: 250px;
        }
    }
}

@media (max-width: 620px) {
    .specialization {
        &__title {
            margin-bottom: 32px;
        }
        &__inner {
            grid-template-columns: repeat(1, 300px);
            gap: 25px;
            .specialization__item {
                width: 300px;
            }
        }
    }
    
}

@media (max-width: 400px) {
    .specialization {
        &__inner {
            grid-template-columns: repeat(1, 80%);
            .specialization__item {
                width: 100%;
            }
        }
    }
    
}
